---
// Importación de componentes reutilizables
import PageHeader from 'src/components/PageHeader.astro';
import ShiningStar from 'src/components/ShiningStar.astro';
import TechnologyLists from 'src/components/TechnologyLists.astro';

// Variables para el encabezado
const chipText = 'Skills & Knowledge';
const pageTitle = 'Tecnologías dominadas';

// Lista de tecnologías agrupadas por categoría
const technologies = [
	{
		title: 'Lenguajes y Frameworks',
		items: ['JavaScript', 'TypeScript', 'Angular', 'NestJS', 'Express'],
	},
	{
		title: 'Estilos',
		items: ['Sass/SCSS', 'TailwindCSS', 'Bootstrap', 'DaisyUI'],
	},
	{
		title: 'DevOps',
		items: ['Docker', 'GitHub Actions'],
	},
	{
		title: 'Otros',
		items: ['PostgreSQL', 'SQL', 'Git', 'REST API'],
	},
];
---

<section id="technologies" class="relative overflow-hidden">
	<div class="contentSection">
		<div class="flex flex-col gap-12">
			<PageHeader title={pageTitle} chipText={chipText}>
				<p slot="description">
					Esta sección muestra las herramientas y tecnologías que utilizo para crear soluciones web eficientes y
					modernas.
				</p>
			</PageHeader>

			<TechnologyLists technologies={technologies} />
		</div>
	</div>

	<!-- Decoración visual -->
	<div class="absolute right-[-70px] bottom-0 lg:right-[3%] xl:right-[18%]">
		<div class="w-[140px] h-[140px] lg:w-[308px] lg:h-[308px]">
			<ShiningStar />
		</div>
	</div>
</section>
